.root{
    -fx-font-size: 12pt;
    -fx-font-family: "Helvetica";
    -fx-font-weight: bold;
}

.center {
	-fx-alignment: center;
}

.right {
	-fx-alignment: center-right;
}

.table-row-cell.interest-row .table-cell {
	-fx-text-fill: red;
}

.table-row-cell:selected.interest-row .table-cell {
	-fx-text-fill: white;
}
